# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# LG
*.swp
/dads
/out
*.secret
*.mbox
/data
/local.sql
/dads.json
/dads.txt
/p2o.json
/p2o.txt
/DS.md
/report.txt
/login.json
/cookies.curl
/groups.txt
/uuid/uuid
/uuid/duuid
